@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen', sans-serif;
}
a, img, button {
    display: block;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    background-color: #1E2124;
}

/*  ----------------- HEADER -----------------*/


header {
    background-color: transparent /* #424549 */;
}

.cabezera {
    background-color: #424549;
}

.cabezera div {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 35px;
    color: white;
}

.animate-links:hover {
    color: white;
    background-color: #1E2124;
}

.discord {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #23272a;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .5s;
    border: 2px solid #426bff;
    color: white;
    font-size: 16px;
    height: 50px;
    cursor: pointer;
}

.discord:hover {
    background-color: #426bff;
    transition: .5s;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-vertical li {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
}

.menu-vertical {
    position: absolute;
    display: none;
    width: 250px;
    padding-left: 0;
    z-index: 99;
    overflow: hidden;
    border-left: 2px solid #426bff;
}

.menu-horizontal li a {
    padding: 25px 20px;
    color: rgba(255, 255, 255, 0.8);
}

.menu-horizontal li span {
    padding: 25px 20px;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: #27292b;
}

.menu-vertical li a {
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
}














.navbar {
    background-color: #35373a;
}

.navbar div {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    padding: 10px 0;
    gap: 10px;
}

#searchInput {
    padding: 0px 30px;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid #426bff;
    outline: 0;
    color: white;
}

.navbar div button {
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 50px;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.order-one {
    border: 2px solid #426bff;
}

.order-one:hover {
    background-color: #426bff;
}

.order-two {
    border: 2px solid #ff5842;
}

.order-two:hover {
    background-color: #ff5842;
}

::placeholder {
    color: white;
    opacity: .7;
}

/*
   ----------------- MAIN -----------------
*/

.contenedor-main {
    width: 1100px;
    background-color: transparent;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

section {
    grid-column: span 9;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.atencion {
    width: 100%;
    height: 150px;
    background-color: #426bff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 35px;
    gap: 5px;
}

.titulo-buscador {
    
}

.titulo-atencion {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.parrafo-atencion {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.buscador {
    width: 100%;
    background-color: #35373a;
    display: flex;
    flex-direction: column;
    padding: 35px;
    border-radius: 10px;
}

.juegos-links {
    width: 100%;
    /* background-color: #1E2124; */
    background-color: transparent;
}

.juegos-links ul {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.juegos-links ul li a {
    color: rgb(255, 255, 255);
}

.juegos-links ul li a:hover {
    color: #426bff;
}


.buscador div {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.abecedario {
    font-size: 23px;
}

.margin-abc {
    margin-bottom: 10px;
}


.dmca {
    font-family: sans-serif;
    color: white;
    line-height: 25px;
}

.title-dmca {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}



aside {
    grid-column: span 3;
    background-color: transparent;
    height: auto;
    padding: 20px 0;
    position: relative;
}

.juegos-nuevos {
    width: 100%;
    background-color: #35373a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    position: sticky;
    top: 0;
    left: 0;
}

.cajas-nuevos {
    display: flex;
    background-color: rgba(160, 160, 160, 0);
    flex-direction: column;
    gap: 10px;
}


.box {
    width: 100%;
    height: 130px;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: 130px;
}

/*
   ----------------- FOOTER -----------------
*/

footer {
    background-color: black;
    height: 200px;
}

.grid-footer {
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}
.data {
    color: white;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 30px;
}

.datos {
    display: flex;
    padding-left: 30px;
    padding-top: 30px;
    flex-direction: column;
    align-items: start;
}

.informacion {
    color: white;
    font-size: 14px;
}

.redes-info {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    padding-top: 30px;
    padding-right: 30px;
}