@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen', sans-serif;
}

a, img, button {
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background-color: #1E2124;
}

/*
   ----------------- HEADER -----------------
*/

header {
    background-color: #424549;
}

.header {
    width: 1100px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
    gap: 30px;
    align-items: center;
    
}

.logo {
    font-size: 35px;
    color: white;
}

.discord {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #23272a;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .5s;
    border: 2px solid #426bff;
}

/* .discord::after {
    content: ' ';
    display: block;
    position: absolute;
    width: 0%;
    height: 300px;
    left: 0;
    bottom: 0;
    background-color: #000000;
    transition: .5s;
    z-index: -1;
}

.discord span {
    z-index: 99;
} 

.discord:hover::after {
    width: 100%;
    transition: .5s;
}
*/

.discord:hover {
    background-color: #426bff;
    transition: .5s;
}

.header ul li a {
    color: white;
}

.pointer {
    pointer-events: none;
    opacity: .5;
}


/*
   ----------------- MAIN -----------------
*/

.contenedor-main {
    width: 1100px;
    background-color: transparent;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

section {
    grid-column: span 9;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.atencion {
    width: 100%;
    height: 150px;
    background-color: #426bff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 35px;
    gap: 5px;
}

.titulo-buscador {
    
}

.titulo-atencion {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.parrafo-atencion {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.buscador {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 35px;
    border-radius: 10px;
}

.juegos-links {
    width: 100%;
    /* background-color: #1E2124; */
    background-color: transparent;
}

.juegos-links ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
}

.juegos-links ul li a {
    color: black;
}

.juegos-links ul li a:hover {
    color: #426bff;
}


.buscador div {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.abecedario {
    font-size: 23px;
}

.margin-abc {
    margin-bottom: 10px;
}







aside {
    grid-column: span 3;
    background-color: transparent;
    height: auto;
    padding: 20px 0;
    position: relative;
}

.juegos-nuevos {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    position: sticky;
    top: 0;
    left: 0;
}

.cajas-nuevos {
    display: flex;
    background-color: rgba(160, 160, 160, 0);
    flex-direction: column;
    gap: 10px;
}


.box {
    width: 100%;
    height: 130px;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: 130px;
}

/*
   ----------------- FOOTER -----------------
*/

footer {
    background-color: black;
    height: 200px;
}